#header {
	background:#39afff;
	padding-left:30px;
	height:48px;
	box-shadow: 0 1px 1px rgba(0,0,0,.14);
	position:relative;
	z-index:100;
}

#header .glyphicon {
	font-size:23px;
	color:#73d3f6;
	padding:12px;
}

#header .glyphicon:hover, #header .glyphicon:active {
	color:#93e3ff;
}

.chat-page .menu-chat .glyphicon {
	color:#222;
}

.setting-page .menu-setting .glyphicon {
	color:#222;
}

.users-page .menu-users .glyphicon {
	color:#222;
}

#user-info img {
	border-radius:15px;
	margin-right:5px;
}

#user-info a {
	line-height:48px;
	font-size: 12px;
	text-decoration: none;
	color: white;
}

#user-info {
	padding: 0 20px;
}

#header .search {
	padding: 11px 15px;
}

#header .search .glyphicon {
	font-size:16px;
	padding:0px;
	left: 28px;
	top: 5px;
}

#header .search-box {
	width: 200px;
    background: #e8e8ea;
    padding: 3px 12px 4px 33px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 0;
    font-size: 10pt;
    color: #666;
}

body {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#l-side {
	width: 330px;
    background: #efefef;
    padding-top: 50px;
    min-width: 330px;
    border-right: 1px solid #ddd;
}

#r-side {
	width:300px;
	min-width:300px;
	border-left:1px solid #ddd;
	background:#f9f9f9;
	padding-top:50px;
}

#content-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	color: #575757;
}

.user-profile {
    width: 600px;
    margin: 150px auto 0;
}

.user-profile .upload-image {
    margin-bottom: 40px;
}

.user-profile .upload-image .image-wrap {
    margin: 0 auto;
    border-radius: 50%;
}

/*.user-profile .upload-image img {
    display:inline-block;
}*/

.upload-image .image-wrap {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.user-profile .row {
	margin-bottom:10px;
}

.user-profile .misc {
    margin: 15px 0;
    padding: 10px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.user-profile .setting-block {
    margin: 0;
    padding: 15px 25px;
    border-top: 1px solid #e6e6e6;
}

.user-profile .help-text {
    font-size: 13px;
    margin: 0;
}

.text-muted {
    color: #bdbdbd;
}

.user-profile .company-links {
    margin-bottom: 20px;
    padding: 15px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.user-profile .company-links a {
    margin: 0 10px;
}

.user-manage {
	width:100%;
	padding: 120px 30px 0;
}

.user-manage .row span {
	padding: 7px 12px;
	display:inline-block;
}

.user-content .row {
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid #ddd;
	margin:0;
}

.user-content .row .btn {
	width:86px;
}

.user-content .row img {
	border-radius: 50%;
}

#r-side #information .information_actions a {
    color: #999;
    display: inline-block;
    margin-left: 15px;
    border-left: 1px solid #d2d2d2;
    padding-left: 15px;
    font-size: 10pt;
}

#r-side #information .information_actions a:first-child {
    padding-left: 17px;
    margin-left: 0;
    border: 0;
    background: url("../images/icon-notifications-on.png") no-repeat left 3px;
    background-size: 11px;
}

#information ul li:last-child {
    border-bottom: 1px solid #e6e6e6;
}

#r-side #information {
	margin-top: 20px;
}

.information_members {
	margin-top:40px;
}

#information .information_members h5 {
    color: #333;
    font-weight: bold;
    overflow: hidden;
}

#information .information_members h5 a {
    float: right;
    font-weight: normal;
    text-decoration: none;
}

#information .information_members ul {
	list-style: none;
	padding:0;
}

#information .information_members ul li {
    overflow: hidden;
    padding: 10px 0;
    border-top: 1px solid #e6e6e6;
    position: relative;
}

#information ul li img {
    vertical-align: middle;
    float: left;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 1px 5px 0 0;
}

#information .lastseen {
    display: block;
    font-size: 9pt;
}

#information ul li span {
    color: #999;
}

#information.owner ul li:hover .information_remove_user {
    width: 12px;
    height: 12px;
    background: url("../images/icon-remove-member.png") no-repeat left top;
    background-size: 100% 100%;
    float: right;
    margin-top: 11px;
    display: block;
}

#information .information_members ul li a:hover {
	text-decoration: none;
	cursor:pointer;
}

#l-side .list-search input {
    width: 100%;
    color: #333333;
    background: #e2e2e2;
    margin-bottom: 0;
    padding: 10px 28px 10px 30px;
    border: 1px solid #d5d5d5;
    border-left:none;
    border-right:none;
    box-shadow: none;
}

#l-side .list-search {
	position: relative;
}

#l-side .list-search .icon-search {
    margin-left: 1px;
    font-size: 14px;
    color: #bbb;
    top: 14px;
    position: absolute;
    left: 7px;
}

#l-side .list-title h4 {
	margin: 20px 0 25px;
    margin-left: 20px;
    color:#39afff;
}

#l-side .list-search .gmicon-close {
    font-size: 12px;
    color: #cccccc;
    top: 14px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

#l-side .list-group-item {
    border-left: 4px solid transparent;
}

#l-side .list-group-item.active {
    border-left: 4px solid #39afff!important;
    background: #ddd;
    color: #222;
}

#l-side .list-group-item: hover {
    border-left: 4px solid #90ff50;
}